@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Aileron', sans-serif;
    /* font-size: 15px; */
}

html, body {
    width: 100%;
    height: 100%;
}

:root {
    --bg-color: #090909;
    --second-bg-color: #323946;
    --main-color: #D9B986;
    --text-color: #ffffff;
}


body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header .logo{
    height: 60px;
}

.header li {
    font-size: 30px;
}




